:root{
  --Darker : #090a1f;
  --Dark : #121345;
  --Mid : #535ef9;
  --Light : #67b6ff;
  --gray: #ffffff;
}

body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
    background: var(--Dark) ;
    width: 100%; 
    overflow-x: hidden;
    margin: 0;
  }

  @media (max-width: 765px){
  
      input , textarea , select , button {
        width:60vw !important;
        box-sizing:border-box !important;
      }
    
  }

  @media (max-width: 768px){
    .info {
      width:75%  !important;
    }

    footer{
      padding: 0px 10vw 0 10vw !important;
    }
    
    .sections li {
      margin-left: 2px !important;
      margin-right: 2px !important;
    }
    
    #back{
    margin-right: -10px;
    z-index: -1;
    max-width: 50%;
    }
    #about {
      width: 100%;
    }

    .sections a {
      font-size: clamp(10px, 3.5vw, 20px); /* to make text responsive*/
    }
  }


  section {
  scroll-behavior: smooth;
  }
  

  h1 {
    text-align: left;
    font-family: Consolas, Calibri;
    color: var(--Light);
    margin-top: -40px;
    font-weight: 800;
    font-size: clamp(50px, 10vw, 80px); /* to make text responsive*/
  }
  h3{
    padding-left: 5px ;
    margin-bottom: 25px;
  }

  #role{
    font-size: 40px;
    margin: -50px 0 0;
    font-size: clamp(35px, 4vw, 50px); /* to make text responsive*/
  }
  
  header{
    align-content:space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    width: 90%;
    margin:0 0 60px 0;
    background: var(--Dark) ;
    backdrop-filter: blur(10px);
  }

  div{
    display: block;
  }
  
  #logo {
    width: min(50px, 200px);
    margin: 10px 20px 10px 20px;
  }

  .main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 50vh;
    margin-top: -40px;
  }

  .info{
    margin-left: 15%;
    width:50%;
  }
  
  #me {
    font-size: 20px;
    font-weight: bold;
  }
  a , label{
    text-decoration:none;
    color: antiquewhite;
    font-weight: bold;
  }
  input , textarea , select , button {
    width:30vw;
    box-sizing:border-box;
    padding:10px;
    margin:10px;
    border-radius:8px;
    border:none;
    background-color:#dedad1;
  }
  
  a{
    transition: color 200ms ease-out 100ms;
  }
  a:hover{
    color: var(--Light);
    
  }
  
  textarea{
    width:50%;
    padding:10px;
    height:80px;
    resize: none;
  }
  
  button{
    background-color:var(--Light);
    color:var(--Dark) ;
    font-family: Consolas, cursive;
    font-weight: bold;
    font-size: 15px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  footer {
  display: flex;  
  background-color: var(--Darker);
  padding: 0px 120px 0 120px;
  margin-top: 100px;;
  justify-content: space-between;
  }

  #big-logo{
    width: min(90px, 400px);
    margin: 40px 20px 10px 20px;
    justify-self: center;
  }
    .socials-footer h2 {
      margin-left: -40px;
    }

  .icon:hover {
    fill : #67b6ff;
  }

  .sections {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-right: 30px;
    width: 500px;
   }

   #back{
    position: absolute;
    top: 10;
    right: 0;
    margin-right: -300px;
    z-index: -1;
    max-width: 100%;
    height: auto;
  }

  li::before {
    content: "» ";
    color: var(--Light);
}

  ul li {
    flex-direction: row;
    list-style: none;
    margin: 0 0 0 -30px ;
  }

  ::-webkit-scrollbar {
    width: 20px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}